.App {
  font-family: sans-serif;
  text-align: center;
  border: dotted;
  background-color: rgb(192, 230, 230, 0.3);
  border-width: 10px 4px;
  border-radius: 20px 40px;
  padding: 50px 20px;
  border-color: rgb(112, 11, 104);
  box-shadow: 15px 15px 20px rgba(178, 176, 184, 0.6);
}

body {
  padding: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
