

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

body {

  background-image: url(../Image/cloudysky.jpg);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;

}
